#map_box{
	width: 1258px;
	height: 1278px;
	background-color: #f5eee4;
	position: relative;
	/*overflow: hidden;*/
}
#map_box_left{
	width: 308px;
	height: 1208px;
	background-image: url(../images/images2/map_left_back.JPG);
	position: relative;
	float: left;
	padding: 70px 0 0 80px;
}
.map_left_cell1 h1{
	color: #474747;
	font-size: 20px;
	margin: 0 0 0 -10px;
	padding: 0 40px 0 0;
	font-weight: normal;
}
.map_left_cell1 h2{
	height: 20px;
	width: 70px;
	color: #474747;
	font-size: 16px;
	display: inline-block;
	/*overflow: hidden;*/
	cursor: pointer;
	padding: 0px 15px 0 27px;
	margin:12pX 0 5px 0;
	font-weight: normal;
	background-image: url(../images/images2/guide_map_point.png);
	background-position:top right;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.map_left_cell1 h3{
	color: #474747;
	font-size: 14px;
	padding: 0 23px 5px 0;
	font-weight: normal;
}
.map_left_cell1 h4{
	height: 20px;
	width: 70px;
	color: #474747;
	font-size: 16px;
	display: inline-block;
	overflow: hidden;
	padding: 0px 20px 0 27px;
	margin:12pX 0 5px 0;
	font-weight: normal;
}
.map_left_cell1 img{
	width: 27px;
	height: 25px;
	margin:0 10px 0 0;
	vertical-align: middle;
}
.map_left_cell3{
	display: none;
}
.map_left_cell3 img{
	width: 19px;
	height: 19px;
	margin:0 10px 0 27px;
	vertical-align: middle;
}
#map_box_right1{
	width: 870px;
	height: 1188px;
	/*background-image: url(images2/map_right1.jpg);*/
	/*background-size: 100% 100%;*/
	position: absolute;
	/*margin:0 0 0 2px;*/
	margin:0 0 0 388px;
	overflow: hidden;
}
#map_box_right1 img{
	display: block;
	/*width: 870px;*/
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	/*top: 0;*/
}
#map_box_right2{
	width: 470px;
	height: 30px;
	position: absolute;
	margin:1188px 0 0 388px;
	padding: 30px 200px 30px;
	background-image: url(../images/images2/map_right_back.JPG);
}
#map_box_right2 span{
	font-size: 14px;
	color: #FFF;
	margin:20px 80px 20px 80px;
}
#map_box_right2 img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.map_left_nav3 span:hover{
	cursor: pointer;
	color: #9c7848;
}
