*{
	margin: 0;
	padding: 0;
}
::selection{
	background: #9D8540;
	color: white;
}
a{
	text-decoration: none;
	color: inherit;
}
.content .Display a:hover{
	color: rgb(118,30,29);
}
/* 专家目录 */

.content2 .wrap{
	width: 1258px;
	height: 70px;
	margin: auto;
	font-family: 微软雅黑,'Heiti SC',黑体,Arial;
	font-size: 14px;
	color: #707070;
	line-height: 50px;
}
.content2 .c2_wrap2{
	position: relative;
	width: 1258px;
	height: 100%;
	font-size: 26px;
	text-align: center;
	font-weight: normal;
	color: #474747;
	margin: 35px auto 0;
}
.text{
	position: relative;
	top: -7px;
}
.c2_wrap2Image img{
	width: 22px;
	height: 32px;
	line-height: 1.2;
	position: relative;
	margin: 0 3px 0;
}
.content2 .c2_wrap2 p{
	position: relative;
	margin-top: 10px;
	font-size: 14px;
	color: #474747;
}
.content2 .content2_list{
	width: 1258px;
	position: relative;
	margin: 0 auto 0;
	background: #87CEEB;
}
.content2 .content2_list ul{
	width: 100%;
	height: 100%;
}
.content2 .content2_list .list_l,.list_c,.list_r{
	float: left;
	list-style: none;
	line-height: 75px;
}
.content2 .content2_list .list_c,.list_r{
	margin-left: 180px;
}
.content2 .content2_list ul li{
	list-style-image: url(../images/images5/专家名录-无序列表图标.png);
	list-style-position: inside;
	border-bottom: 1px solid #e5e5e5;
	font-size: 16px;
	color: #474747;
	cursor: pointer; 
	width: 298px;
	overflow: hidden;
}
.content2 .content2_list span{
	float: right;
	margin-left: 130px;
}
/* 学术资讯 */
.content{
	position: relative;
	width: 1258px;
	height: 100%;
	clear: both;
	margin: 0 auto;
	top: 60px;
}
.content .wrap2{
	position: relative;
	width: 100%;
	height: 92.58px;
	/* background: #87CEEB; */
	font-size: 26px;
	text-align: center;
	font-weight: normal;
	color: #474747;
	padding-top: 25px;
}
.wrap2Image img{
	width: 22px;
	height: 32px;
	line-height: 1.2;
	position: relative;
	margin: 0 10px 0;
}

.content .Display{
	position: relative;
	width: 100%;
	height: 100%;
}
.Display ul li{
	/*width: 100%;*/
	padding: 23px 20px 23px 0;
	text-align: left;
	font-size: 16px;
	color: #474747;
	list-style-image: url(../images/images5/无序列表图标.png);
	list-style-position: inside;	
	border-bottom: #ccc solid 1px;
}
.Display ul{
	/*width: 100%;*/
	height: 100%;
	list-style-position: inside;
	left: 120px;
	border-top: #ccc solid 1px;
	padding-bottom: 40px;
}
.Display ul span{
	float: right;
	color: #474747;
	font-size: 14px;
	font-family: '微软雅黑';
}
.next{
	/*width: 100%;*/
	height: 100px;
}

.D_nav{
	position: relative;
	width: 100%;
	height: 270px;
}
.D_nav .D_pos{
	width: 100%;
	position: absolute;	
	bottom: 0;
}
.D_nav .nav_1,.nav_2,.nav_3,.nav_4{
	width: 25%;
	float: left;
	height: 225px;
}
.D_nav .nav_1{
	background: url(../images/images5/专家名录bck.jpg);
}
.D_nav .nav_2{
	background: url(../images/images5/故宫研究院bck.jpg);
	
}
.D_nav .nav_3{
	background: url(../images/images5/故宫学院bck.jpg);
}
.D_nav .nav_4{
	background: url(../images/images5/其他机构bck.jpg);
}
.D_nav .D_pos .nav_1 .trans{
	transition: all .2s linear;
}
.D_nav .D_pos .nav_2 .trans{
	transition: all .2s linear;
}
.D_nav .D_pos .nav_3 .trans{
	transition: all .2s linear;
}
.D_nav .D_pos .nav_4 .trans{
	transition: all .2s linear;
}
.D_nav .D_pos .nav_1:hover .trans{
	transition: .2s;
	transition-timing-function: ease-in-out;
	transform: translateY(-7px);
}
.D_nav .D_pos .nav_2:hover .trans{
	transition: .2s;
	transition-timing-function: ease-in-out;
	transform: translateY(-7px);
}
.D_nav .D_pos .nav_3:hover .trans{
	transition: .2s;
	transition-timing-function: ease-in-out;
	transform: translateY(-7px);
}
.D_nav .D_pos .nav_4:hover .trans{
	transition: .2s;
	transition-timing-function: ease-in-out;
	transform: translateY(-7px);
}
.D_nav img{
	width: 126px;
	position: absolute;
	margin: 30px 85px;
}
.D_nav span{
	width: 100px;
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	text-align: center;
	margin: 160px 100px;
}
/* list_l */
.content2_list .list_l .pic .p_img{
	width: 102px;
	height: 125px;
	position: absolute;
	left: 110px;
	margin-top: -50px;
	display: none;
}
.content2_list .list_l .pic:hover .p_img{
	display: block;
}

.content2_list .list_l .pic .p_img img{
	max-width: 100%;
	max-height: 100%;
}
.content2_list .list_l .pic .p_img .img_icon{
	position: absolute;
	float: left;
	left: -20px;
	top: 6px;
}
/* list_c */
.content2_list .list_c .pic .p_img{
	width: 102px;
	height: 125px;
	position: absolute;
	margin-left: 110px;
	margin-top: -50px;
	display: none;
}
.content2_list .list_c .pic:hover .p_img{
	display: block;
}
.content2_list .list_c .pic .p_img img{
	max-width: 100%;
	max-height: 100%;
}
.content2_list .list_c .pic .p_img .img_icon{
	position: absolute;
	float: left;
	left: -20px;
	top: 6px;
}


/* list_r */
.content2_list .list_r .pic .p_img{
	width: 102px;
	height: 125px;
	position: absolute;
	margin-left: 110px;
	margin-top: -50px;
	display: none;
}
.content2_list .list_r .pic:hover .p_img{
	display: block;
}

.content2_list .list_r .pic .p_img img{
	max-width: 100%;
	max-height: 100%;
}
.content2_list .list_r .pic .p_img .img_icon{
	position: absolute;
	float: left;
	left: -20px;
	top: 6px;
}
.footer{
	position: relative;
	/*width: 100%;*/
	height: 132px;
	padding: 50px 0 0 0;
	margin: auto;
	background: #272727;
	margin-top: 105px;
}